<ion-view>
<ion-nav-title>New Deck</ion-nav-title>
  <ion-content class="scroll-content ionic-scroll has-header logoImage dark-bg">
  <form name="infoForm" ng-submit="addDeck(newData)">
    <ion-list>
		<ion-item>
			<label class="item item-input item-floating-label stable">
				<input type="text" ng-model="deck.name" placeholder="Deck Name">
			</label> 
		
		</ion-item>
        <button class="button button-full" type="submit">
          <i class="icon ion-ios-checkmark-outline balanced"></i>
            Add Deck
        </button>
    </ion-list>
	</form>
  </ion-content>
</ion-view>
