<ion-view view-title="Match">
  <ion-content>	
<div class="list card" ng-repeat="player in players" scroll="false">
  <div class="item item-avatar">
    <img src="{{player.imgURL}}">
    <h2>{{player.userName}}</h2>
  
    <h1 class="text-right">
      {{player.currentLife}}
    </h1>
  </div>

</div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-dark">   
    <button class="buttons button-clear button-icon ion-plus-round" ng-click="addLife()"></button>
    <div class="title">Life Counter</div>
 
   <button class="buttons button-clear button-icon ion-minus-round" ng-click="subLife()"></button>
  </ion-footer-bar>
</ion-view>
