<ion-view view-title="Playlist">
  <ion-content>

    <div class="list card">

  <div class="item item-avatar">
    <img ng-src="{{person.imgURL}}">
      <h2>{{person.userName}}</h2>
		<div ng-if="person.online">
			<p class="energized">Online</p>
		</div>
		<div ng-if="person.lastSeen">
			<p>Last seen <time>{{person.lastSeen | amTimeAgo:true}}</time> ago</p>
		</div>
  </div>

  <button class="button button-full balanced" ng-click="newMatch()">
    <i class="icon ion-android-add-circle"></i>
    Start a Match
  </button>

</div>
  </ion-content>
</ion-view>
