<ion-view>
<ion-nav-title>{{person.userName}}</ion-nav-title>
  <ion-content class="stable-bg">
    <div class="list card dark-bg">
      <div class="item item-avatar">
        <img ng-src="{{person.imgURL}}">
        <h2>{{person.userName}}</h2>
		<p>{{person.status}}</p>
		    <div ng-if="person.online">
			       <span class="balanced">Online</span>
		    </div>
		    <div ng-if="person.lastSeen">
			       <span class="energized">Last seen <time>{{person.lastSeen | amTimeAgo:true}}</time> ago</span>
		    </div>
      </div>
      <button class="button button-full" ng-click="newMatch()">
        <i class="icon ion-android-add-circle balanced"></i>
          Start a Match
      </button>
  </div>
  </ion-content>
</ion-view>
